<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddProduct</title>
</head>
<body>
    <h1>Add Product</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">submit</button>
    </form><br><br><br>
    <button><a href="/">home</a></button>
    <button><a href="/product/product-list">View All Products</a></button>

</body>
</html>