<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        {{prof.user.first_name}} 
        <br>
        {{prof.user.last_name}}
<br>        {{prof.user.username}}
    </h1>
    <h1>
        {% for i in AllProfiles %}
       <li><b><a href="/profile/{{i.id}}"> {{i.user.first_name}}</a></b></li>
    {% endfor %}
    <button><a href="/">home</a></button>
    </h1>
</body>
</html>