<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>You are at Home Page</h1>
    <button type="submit" ><a href="/login">login</a></button> <br> <br>
    <button type="submit" ><a href="/messages">messages page</a></button><br> <br>
    <button type="submit" ><a href="/user-list">User List</a></button> <br> <br>
    <button type="submit" ><a href="/profile/profile-list">Profile List</a></button>  <br> <br>
    <button type="submit" ><a href="/product/Addproduct">Add Product</a></button>  <br> <br>
    <button type="submit" ><a href="/product/product-list">product list</a></button>  <br> <br>
    <button type="submit" ><a href="/admin">Admin</a></button>  <br> <br>
</body>
</html>