<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<style>
    .success{
        color: green;
    }
</style>
<body>
    <form action="" method="post">
        {% csrf_token %}
        first_name : <input type="text" name="fname" placeholder="FirstName" id=""><br>
        Last_name : <input type="text" name="lname" placeholder="LastName" id=""><br>
        user_name : <input type="text" name="uname" placeholder="userName" id=""><br>
        email     : <input type="email" name="email" placeholder="Email" id=""><br>
        <button type="submit">SUBMIT</button>     
    </form>
 <br><br>
    <button><a href="/">Home</a></button>
 <!-- This is Messages Framework -->
 
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                 <h4 class="{{message.tags}}">{{message}}</h4>
            {% endif %}
        {% endfor %}
    {% endif %}
</body>
</html>